PUBLIC_APPWRITE_PROJECT=classifiqa
PUBLIC_APPWRITE_ENDPOINT=https://backend.classifiqa.pt/v1
PUBLIC_APPWRITE_REALTIME_ENDPOINT=wss://backend.classifiqa.pt/v1
PUBLIC_DB_ID=<appwrite-database-id>
APPWRITE_SERVER_ENDPOINT=https://backend.classifiqa.pt/v1
